.container {
    /* first breakpoint*/
    --w1: 1200px;
    --n: 6;
    /* second breakpoint*/
    --w2: 800px;
    --m: 4;
    /* third breakpoint*/
    --w3: 400px;
    --p: 2;

    display: grid;
    grid-template-columns:
    repeat(auto-fill,
    minmax(clamp(clamp(clamp(
                    100% / (var(--n) + 1) + 0.1%,
                    (var(--w1) - 100vw) * 1000,
                    100% / (var(--m) + 1) + 0.1%),
            (var(--w2) - 100vw) * 1000,
            100% / (var(--p) + 1) + 0.1%),
            (var(--w3) - 100vw) * 1000,
            100%), 1fr));
    gap: 10px;
}

.slate {
    color: rgb(30, 41, 59);
    background-color: rgb(241, 245, 249);
}

.red {
    color: rgb(185 28 28);
    background-color: rgb(254 226 226);
}

.orange {
    color: rgb(194 65 12);
    background-color: rgb(255 237 213);
}

.yellow {
    color: rgb(234 179 8);
    background-color: rgb(254 249 195);
}

.green {
    color: rgb(21 128 61);
    background-color: rgb(220 252 231);
}

.blue {
    color: rgb(29 78 216);
    background-color: rgb(219 234 254);
}

.indigo {
    color: rgb(67 56 202);
    background-color: rgb(224 231 255);
}

.violet {
    color: rgb(109 40 217);
    background-color: rgb(237 233 254);
}

.grey {
    color: rgb(55 65 81);
    background-color: rgb(243 244 246);
}